.informacoes-home-modal .ant-modal {
    width: 80% !important;
    max-width: 1000px;
  }
  
  .informacoes-home-modal .ant-modal-body {
    padding: 0;
  }
  
  .carousel-slide {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .carousel-image {
    max-width: 100%;
    height: auto;
    width: auto; /* Ajusta a largura da imagem para o seu tamanho original */
    max-height: 60vh; /* Limita a altura da imagem para 60% da altura da tela */
  }
  
  .carousel-description {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 1rem;
    color: #333;
    max-width: 80%;
  }
  
  @media (max-width: 768px) {
    .carousel-description {
      font-size: 0.875rem;
      max-width: 90%;
    }
  }
  
  .informacoes-home-modal .ant-carousel .slick-dots-bottom {
    bottom: 0px; 
  }
  
  .informacoes-home-modal .ant-carousel .slick-dots-bottom li {
    margin: 0 25px; 
  }
  
  .informacoes-home-modal .ant-carousel .slick-dots-bottom li button {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    background-color: #000000;
    border: none;
  }
  
  .informacoes-home-modal .ant-carousel .slick-dots-bottom li.slick-active button {
    background-color: #FF7C12; 
  }
  
  .informacoes-home-modal .slick-prev,
  .informacoes-home-modal .slick-next {
    font-size: 24px;
    z-index: 1;
  }
  
  .informacoes-home-modal .slick-prev {
    left: -50px; 
  }
  
  .informacoes-home-modal .slick-next {
    right: -50px; 
  }
  